{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/auth/login.css') }}">
{% endblock %}

{% block body %}
    <h1 class="login-title">INNOVEST LOGIN</h1> <!-- Move the title outside the container -->
    <div class="login-container larger-container"> <!-- Add a class to increase the size of the container -->
        <form method="post" class="login-form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="input-box">
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
                <i class="fas fa-envelope"></i>
            </div>
            <div class="input-box">
                <label for="password">Password</label>
                <input type="password" name="_password" id="password" autocomplete="current-password" required>
                <i class="fas fa-lock"></i>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>

        <div class="register-link">
            <p>Don't have an account? <a href="{{ path('app_register') }}">Sign up!</a></p>
        </div>
    </div>
{% endblock %}
