{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/auth/register.css') }}">
{% endblock %}

{% block body %}
<div class="wrapper">
    <section class="container">
        <div class="row">
            <div class="col">

                <h1 class="register-title">Become an Innovestor !</h1> 

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <div class="input-box">
                        <label for="{{ registrationForm.username.vars.id }}">Username</label>
                        {{ form_widget(registrationForm.username) }}
                    </div>
                    <div class="input-box">
                        <label for="{{ registrationForm.email.vars.id }}">Email</label>
                        {{ form_widget(registrationForm.email) }}
                    </div>
                    <div class="input-box">
                        <label for="{{ registrationForm.plainPassword.vars.id }}">Password</label>
                        {{ form_widget(registrationForm.plainPassword) }}
                    </div>
                    <div class="input-box agree-terms">
                        <label for="{{ registrationForm.agreeTerms.vars.id }}">Agree to Terms</label>
                        <div class="checkbox">
                            {{ form_widget(registrationForm.agreeTerms) }}
                            <span>I agree to the terms and conditions</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button> <!-- Added btn-primary class -->
                {{ form_end(registrationForm) }}

                <div class="login-link">
                    <p>Already have an account? <a href="{{ path('app_login') }}">Sign in</a></p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
