<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <link rel="icon" href="images/fevicon.png" type="image/gif" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>{% block title %}Innovest{% endblock %}</title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        {% block stylesheets %}

        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap.css') }}" />

        <!-- fonts style -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

        <!-- Box Icons -->
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

        <!-- font awesome style -->
        <link href="{{ asset('styles/font-awesome.min.css')}}" rel="stylesheet" />
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
        <!-- responsive style -->
        <link href="{{ asset('styles/responsive.css') }}" rel="stylesheet" />

        {% endblock %}

        {% block javascripts %}
            <!-- jQery -->
            <script src="{{ asset ('controllers/jquery-3.4.1.min.js') }}"></script>
            <!-- bootstrap js -->
            <script src="{{ asset('controllers/bootstrap.js')}}"></script>
            <!-- custom js -->
            <script src="{{ asset('controllers/custom.js')}}"></script>
            <!-- Google Map -->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
            <!-- End Google Map -->
        {% endblock %}
    </head>
    <body>
        {% include 'includes/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'includes/footer.html.twig' %}
    </body>
</html>
