{% extends 'base.html.twig' %}

{% block title %}Businesses List{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/business.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Businesses List</h1>
        <div class="business-card-container">
            {% for business in businesses %}
                <div class="business-card">
                    {% if business.imageBlob is not null %}
                        <img src="{{ path('app_business_image', {'id': business.id}) }}" alt="Business Image">
                    {% else %}
                        <img src="{{ asset('images/company.jpg') }}" alt="Default Image">
                    {% endif %}
                    <h2>{{ business.Name }}</h2>
                    <p>{{ business.Sector }}</p>
                    <a href="{{ path('app_business_details', {'id': business.id}) }}" class="btn btn-primary">View Details</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
