{# templates/businesses/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Businesses List{% endblock %}

{% block body %}
    <h1>Businesses List</h1>
    <div class="business-card-container">
        {% for business in businesses %}
            <div class="business-card">
                <h2>{{ business.Name }}</h2>
                <p>{{ business.Description }}</p>
                <p>{{ business.Sector }}</p>
                <p>Revenue: {{ business.Revenue }}</p>
                <p>Profit: {{ business.Profit }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
